body{
    background-color: #f7f7f7;
}

.fix-top {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   z-index: 1030;
   background-color: white; 
}


footer {
    background-color: #b7cef7;
    padding: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
}

div .logo-footer {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

div .kontaktu-block {
    margin-top: 50px;
}

.kontaktu ul {
    list-style: none;
}

div .kontaktu-title {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
    line-height: 120%;
    padding-bottom: 14px;
}

div .kontaktu-title::after {
    background-color: #999;
    width: 40px;
    content: '';
    display: inline-block;
    right: auto;
    left: 0px;
    height: 2px;
    position: absolute;
    bottom: 0;
}

 .tel,
 .email {
  text-decoration: none;
  color: black;
  transition: margin 0.2s ease-in-out;
  }

  .tel:hover,
  .email:hover,
  .tel:focus,
  .email:focus { 
    color: black;
    text-shadow: 0 0 0px black;
    margin-left: 0.8em;
    outline: none;
    position: relative;
  }

  .tel::before,
  .email::before {
    position: absolute;
    left: -1.5em;
    content: "->";
    color: transparent;
  }

  div .wiget-text {
    font-weight: 500;
  }

  ul .menu li {
    padding: 8px 0;
    
  }

div .menu {
    display: flex;
    flex-direction: column;
}
  .menu a {
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 5px 0;
    transition: margin 0.2s ease-in-out;
  }


  .menu a:hover,
  .menu a:focus {
    text-shadow: 0 0 0px black;
    margin-left: 0.8em;
    outline: none;
    position: relative;
  }

  .menu a::before {
    position: absolute;
    left: -1.2em;
    content: "->";
    color: transparent;
  }