* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #f7f7f7;
  box-sizing: border-box;
  margin: 0;
  padding: 0;   
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  height: 96px;
}
.nav-link {
  font-size: 18px;
  font-weight: 400;
}
.nav-item a {
  font-size: 18px;
  font-weight: 400;
}
.nav-item a:hover {
  transition-duration: 0.2ms;
  border-bottom: solid 2px #6495ed;
  width: fit-content;
}

.active {
  border-bottom: solid 2px #6495ed;
  width: fit-content;
}

.fix-top {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   z-index: 1030;
   background-color: white; 
}

/*main*/
.main {
  margin: 0;
  padding: 0;
  width: 100%;
}

.site-content {
  margin-top: 100px;
  max-width: 95%;
}

/*Left sidebar*/


.page-content .sc-title:after {
  height: 2px;
  background: #999;
}
.sc-contact-text .text {
  font-weight: 400;
  font-size: 20px;
}

p {
  margin-bottom: 20px;
}

.contact-info {
  list-style: none;
  margin: 30px 0 0;
  padding: 0px;
}

.contact-info li {
  margin-bottom: 30px;
}

.contact-info li span.lnr {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  line-height: 48px;
  border-radius: 100%;
  background-color: #3f70ac;
}

.fa-phone:before {
  content: "";
}

.contact-info li span, .contact-info li a {
  color: black;
  vertical-align: middle;
  text-decoration: none;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

/*Right sidebar*/

.form-group {
  margin-bottom: 1rem;
} 

.sc-contact-form .input-field input {
  width: 100%;
    margin-bottom: 20px ;
}

.help-block {
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"] {
    border-radius: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid #e6e6e6;
    display: inline-block;
}

textarea.form-control {
  border-radius: 0; 
}

.sc-contact-form textarea {
  width: 100%;
}

.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sc-contact-form .submit {
  height: 40px;
  line-height: 39px;
  margin-top: 25px;
  padding: 0 38px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  border: 1px solid #3f70ac;
  background: #3f70ac;
  cursor: pointer;
}

.sc-contact-form .submit:hover {
  background: #2cabf5;
  border-color: #2cabf5;
  color: #fff;
}

/*Nashi Klienty block start*/

 .clients-item {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  text-align: center;
}

  .sc-title {
  text-decoration: none;
  color: black;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  margin-bottom: 50px;
  line-height: 120%;
  padding-bottom: 14px;
}

  .sc-title::after {
  background-color: #999;
  width: 40px;
  content: '';
  display: inline-block;
  right: auto;
  left: 0px;
  height: 2px;
  position: absolute;
  bottom: 0;
}

  .sc-title.text-center:after {
  margin: 0 auto;
  right: 0;
}

.silpo,
.fozzy-group,
.yahotinske,
.yatran,
.ufc,
.brusilovskie-kolbasy,
.ferma,
.terra-food,
.millk-life,
.ytk,
.blizz-print,
.pologi-mezz,
.sarny-holod,
.solex-agro,
.prod-holod,
.boss_berries,
.vega-land {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

/*Nashi Klienty block finish*/

/*footer*/

.footer {
  background-color: #b7cef7;
  /* padding: 10px; */
}

.footer ul {
  list-style: none;
  margin: 0;
}

.logo-footer {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}

.kontaktu-block {
  margin-top: 50px;
  padding: 0px 20px;
}

.kontaktu ul {
  list-style: none;
}

.kontaktu-title {
  text-decoration: none;
  color: black;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  margin-bottom: 30px;
  line-height: 120%;
  padding-bottom: 14px;
}

.kontaktu-title::after {
  background-color: #999;
  width: 40px;
  content: '';
  display: inline-block;
  right: auto;
  left: 0px;
  height: 2px;
  position: absolute;
  bottom: 0;
}
.kontaktu-li {
  margin-bottom: 10px;
}
.tel,
.email {
  text-decoration: none;
  color: black;
  transition: margin 0.2s ease-in-out;
}

.tel:hover,
.email:hover,
.tel:focus,
.email:focus { 
  color: black;
  text-shadow: 0 0 0px black;
  margin-left: 0.8em;
  outline: none;
  position: relative;
}

.tel::before,
.email::before {
  position: absolute;
  left: -1.5em;
  content: ">";
  color: transparent;
}

/*Menu poslug footer*/

.footer-block-menu {
  display: flex;
  flex-direction: column;
}
.wiget-text {
  font-weight: 500;
}

ul .menu li {
  padding: 8px 0;
  
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu a {
  text-decoration: none;
  color: black;
  width: fit-content;
  padding: 5px 0;
  transition: margin 0.2s ease-in-out;
}


.menu a:hover,
.menu a:focus {
  text-shadow: 0 0 0px black;
  margin-left: 0.8em;
  outline: none;
  position: relative;
}

.menu a::before {
  position: absolute;
  left: -1.2em;
  content: ">";
  color: transparent;
}

 /*936px*/
 @media (max-width: 936px) {
  
 /* .footer {
      padding: 20px;
  } */ 

  .kontaktu-li {
      margin-bottom: 10px;
  }

  /*Menu poslug footer*/
  .logo-footer {
      width: 150px;
      height: auto;
      margin-bottom: 20px;
  }

  .wiget-text {
      display: flex;
  justify-content: space-between;
  }

  .menu-title-h3 {
      font-size: 22px
  }
  .wiget-text-p {
      width: 75%;
      font-size: 16px;
  }
}

/*812px*/

@media (max-width: 812px) {

  .wiget-text {
      gap: 20px;
  }

  .wiget-text-p {
      font-size: 14px;
  }

  .kontaktu-li {
      margin-bottom: 10px;
  }
}


/*576px*/

@media (max-width: 576px) {
  .text {
    font-size: 18px;
  }

  .contact-info li span.lnr {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    background-color: #3f70ac;
}

.adress-poit,
.phone-nom,
.email-link {
  font-size: 13px;
  font-weight: 500;
}

  /*.footer {
      padding: 20px;
  } */

  .logo-footer {
      width: 130px;
      height: auto;
      margin-bottom: 20px;
  }

  .wiget-text{
      /*margin: 0px 0px 20px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;*/
      display: none;
  }

  .wiget-text-p{
      font-size: 14px;
      max-width: 70%;

  }
  /*Kontaktu*/
  .kontaktu-block {
      margin: 0;
  }

  .kontaktu {
      width: 100%;
  }

  .kontaktu-li {
      margin-bottom: 10px;
      font-size: 15px;
  }

  .menu-item-a {
      font-size: 14px;
  }
}

 /*media 320px*/

 @media (max-width: 320px) {
    
  .clients-item{
      width: 120px;
      height: auto;
  }

  /*Kontaktu*/
  .kontaktu-block {
      margin: 0;
  }

  .kontaktu {
      width: 100%;
  }

  /*Menu poslug footer*/
 
  .wiget-text{
     /* margin: 0px 0px 20px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;*/
      display: none;
  }

  .wiget-text-p{
      margin: 0px auto;
      text-align: justify;
      font-size: 12px;
      max-width: 100%;
  }

  .menu-title-h3,
  .menu-title-h3 {
      font-size: 16px;
  }
}