html {
  scroll-behavior: smooth;
}

body{
  background-color: #f7f7f7;
  box-sizing: border-box;
  margin: 0;
  padding: 0;    
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  height: 96px;
}

.fix-top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1030;
    background-color: white;
 }

 .nav-link {
  font-size: 18px;
  font-weight: 400;
}

 .nav-item a {
  font-size: 18px;
  font-weight: 400;
}
 .nav-item a:hover {
    transition-duration: 0.2ms;
    border-bottom: solid 2px #6495ed;
    width: fit-content;
}

.active {
  border-bottom: solid 2px #6495ed;
  width: fit-content;
}



.main {
  margin: 0px 0px 30px 0px;
  padding: 0;
  width: 100%;
}

.posluhi-title-text {background-image: url(../imges/snowy.jpg);
    background-repeat: no-repeat;
   background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posluhi-title-text h1 {
    text-align: center;
    padding: 150px 0px 150px 0px;
}

.poslugi-blok {
  margin: 30px 0px 0px 0px;
}

.poslugi-h3 {
  font-size: 20px;
}

.poslugi-txt {
  font-size: 14px;
  font-weight: 500;
}

.poslugi-li,
.montaj-li {
  font-size: 14px;
}
/* Footer */

footer {
    background-color: #b7cef7;
    padding: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
}

 .logo-footer {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

 .kontaktu-block {
    margin-top: 50px;
}

.kontaktu ul {
    list-style: none;
}

 .kontaktu-title {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
    line-height: 120%;
    padding-bottom: 14px;
}

 .kontaktu-title::after {
    background-color: #999;
    width: 40px;
    content: '';
    display: inline-block;
    right: auto;
    left: 0px;
    height: 2px;
    position: absolute;
    bottom: 0;
}

 .tel,
 .email {
  text-decoration: none;
  color: black;
  transition: margin 0.2s ease-in-out;
  }

  .tel:hover,
  .email:hover,
  .tel:focus,
  .email:focus { 
    color: black;
    text-shadow: 0 0 0px black;
    margin-left: 0.8em;
    outline: none;
    position: relative;
  }

  .tel::before,
  .email::before {
    position: absolute;
    left: -1.5em;
    content: "->";
    color: transparent;
  }

  .wiget-text {
    font-weight: 500;
  }

   .menu li {
    padding: 8px 0;
    
  }

 .menu {
    display: flex;
    flex-direction: column;
}
  .menu a {
    text-decoration: none;
    color: black;
    width: fit-content;
    padding: 5px 0;
    transition: margin 0.2s ease-in-out;
  }


  .menu a:hover,
  .menu a:focus {
    text-shadow: 0 0 0px black;
    margin-left: 0.8em;
    outline: none;
    position: relative;
  }

  .menu a::before {
    position: absolute;
    left: -1.2em;
    content: "->";
    color: transparent;
  }


  /*936px*/
  @media (max-width: 936px) {

    .title-background-img {
        padding: 0px 10px 0px 10px;
    }

    .footer {
        padding: 20px;
    } 

    .kontaktu-li {
        margin-bottom: 10px;
    }

    /*Menu poslug footer*/
    .logo-footer {
        width: 150px;
        height: auto;
        margin-bottom: 20px;
    }

    .wiget-text {
        display: flex;
    justify-content: space-between;
    }

    .menu-title-h3 {
        font-size: 22px
    }
    .wiget-text-p {
        width: 75%;
        font-size: 16px;
    }
  }

  /*812px*/

  @media (max-width: 812px) {

    .title-background-img {
        padding: 0px 10px 0px 10px;
    }

    .poslugi-h3 {
      
    font-size: 14px;
    }

    .footer {
        padding: 20px;
    } 

    .wiget-text {
        gap: 20px;
    }

    .wiget-text-p {
        font-size: 14px;
    }

    .kontaktu-li {
        margin-bottom: 10px;
    }
  }

  /*576px*/

  @media (max-width: 576px) {
    .title-background-img {
        padding: 0px 10px 0px 10px;
        width: 100%;
    }
     
    .col-poslugi,
    .col-bild-machine,
    .col-montaj,
    .col-equip,
    .col-servis,
    .col-avtomatic {
      display: flex;
      justify-content: center;
    }

    .project,
    .build-machine,
    .montaj,
    .choice-equvipment,
    .servis,
    .avtomatic {
      width: 80%;
    }

    .build-machine {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0px 20px 0px;
    }

    .montaj {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0px 0px 0px;
    }
    
    .choice-equvipment {
      margin: 0px 0px 20px 0px;
    }

    .servis,
    .avtomatic {
      margin: 20px 0px 20px 0px;
    }

    .footer {
        padding: 20px;
    } 

    .logo-footer {
        width: 130px;
        height: auto;
        margin-bottom: 20px;
    }

    .wiget-text{
        /*margin: 0px 0px 20px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;*/
        display: none;
    }

    .wiget-text-p{
        font-size: 14px;
        max-width: 70%;

    }
    /*Kontaktu*/
    .kontaktu-block {
        margin: 0;
    }

    .kontaktu {
        width: 100%;
    }

    .kontaktu-li {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .menu-item-a {
        font-size: 14px;
    }
  }


  /*media 320px*/

@media (max-width: 320px) {
    
  .title-background-img {
      padding: 0px 10px 0px 10px;
      width: 100%;
  }
  .project,  
  .build-machine,
    .montaj,
    .choice-equvipment,
    .servis,
    .avtomatic {
      width: 100%;
    }

  /*Kontaktu*/
  .kontaktu-block {
      margin: 0;
  }

  .kontaktu {
      width: 100%;
  }

  /*Menu poslug footer*/
 
  .wiget-text{
     /* margin: 0px 0px 20px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;*/
      display: none;
  }

  .wiget-text-p{
      margin: 0px auto;
      text-align: justify;
      font-size: 12px;
      max-width: 100%;
  }

  .menu-title-h3,
  .menu-title-h3 {
      font-size: 16px;
  }
}