body{
    background-color: #f7f7f7;
}
.fix-top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1030;
    background-color: white;
}

 
 .title-background-img {
    background-image: url(../imges/snowy.jpg);
    background-repeat: no-repeat;
   background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px;
    margin: 0px auto;
   
}

div .title-text {
    text-align: center;
    margin: 150px auto;
    padding: 20px;
    max-width: 600px;
    border: solid 3px  #6e7e8f;
    border-radius: 10px;
}

.title-text h1 {
    font-weight: 900;
    color: 6e7e8f;
}

div .link-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px
}


main {
    margin-top: 50px;
}

.about-title-text h1 {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    font-weight: 700;
  border-bottom: 3px solid black;
  max-width: 30%;
    
}

.pervagi ul,
.yak-mu-pratsyem ul {
    list-style: none;
}


 
