

.fix-top {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   z-index: 1030;
   background-color: white;
}

div .anketa {
    width: 250px;
    height: auto;
}

div .calculator {
    width: 250px;
    height: auto;

}

div .invoice {
    width: 250px;
    height: auto;
}

div .clients-item {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}

div .silpo,
.fozzy-group,
.yahotinske,
.yatran,
.ufc,
.brusilovskie-kolbasy,
.ferma,
.terra-food,
.millk-life,
.ytk,
.blizz-print,
.pologi-mezz,
.sarny-holod,
.solex-agro,
.prod-holod,
.boss_berries,
.vega-land {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}