body{
    background-color: #f7f7f7;
}
.fix-top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1030;
    background-color: white;
}

 
 .title-background-img {
    background-image: url(../imges/snowy.jpg);
    background-repeat: no-repeat;
   background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px;
    margin: 0px auto;
   
}

div .title-text {
    text-align: center;
    margin: 150px auto;
    padding: 20px;
    max-width: 600px;
    border: solid 3px  #6e7e8f;
    
}

.title-text h1 {
    font-weight: 900;
    color: 6e7e8f;
}

div .link-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
 
.link-buttons a{
    display: block;
    width: 200px;
    height: 40px;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.45s;
  }

  .link-buttons a span{
    position: relative;
    z-index: 2;
    font-size: 18px;
    text-align: center;
  }

  .link-buttons a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #6e7e8f;
    transition: all .50s;
  }

  .link-buttons a:hover{
    color: #fff;
  }

  .link-buttons a:hover:after{
    width: 100%;
  }

main {
    margin-top: 50px;
}

.about-title-text h1 {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    font-weight: 700;
  border-bottom: 3px solid black;
  max-width: 30%;
    
}

.pervagi ul,
.yak-mu-pratsyem ul {
    list-style: none;
}

/*Nashi klientu*/
.sc-title {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 300;
    position: relative;
    margin-bottom: 50px;
    line-height: 120%;
    padding-bottom: 14px;
}

    .sc-title::after {
    background-color: #999;
    width: 40px;
    content: '';
    display: inline-block;
    right: auto;
    left: 0px;
    height: 2px;
    position: absolute;
    bottom: 0;
}

    .sc-title.text-center:after {
    margin: 0 auto;
    right: 0;
}

div .clients-item {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}

div .silpo,
.fozzy-group,
.yahotinske,
.yatran,
.ufc,
.brusilovskie-kolbasy,
.ferma,
.terra-food,
.millk-life,
.ytk,
.blizz-print,
.pologi-mezz,
.sarny-holod,
.solex-agro,
.prod-holod,
.boss_berries,
.vega-land {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

/*Footer*/

footer {
    background-color: #b7cef7;
    padding: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
}

div .kontaktu-block {
    margin-top: 50px;
}

.kontaktu ul {
    list-style: none;
}

div .kontaktu-title {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
    line-height: 120%;
    padding-bottom: 14px;
}

div .kontaktu-title::after {
    background-color: #999;
    width: 40px;
    content: '';
    display: inline-block;
    right: auto;
    left: 0px;
    height: 2px;
    position: absolute;
    bottom: 0;
}

 .tel,
 .email {
  text-decoration: none;
  color: black;
  transition: margin 0.2s ease-in-out;
  }

  .tel:hover,
  .email:hover,
  .tel:focus,
  .email:focus { 
    color: black;
    text-shadow: 0 0 0px black;
    margin-left: 0.8em;
    outline: none;
    position: relative;
  }

  .tel::before,
  .email::before {
    position: absolute;
    left: -1.5em;
    content: "->";
    color: transparent;
  }
 
