html {
    scroll-behavior: smooth;
}

body{
    background-color: #f7f7f7;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: 'Raleway', sans-serif;
}
ul {
    padding: 0;
    margin: 0;
}
.header {
    height: 96px;
    
}

.nav-link {
    font-size: 18px;
    font-weight: 400;
}

.nav-link:hover {
    transition-duration: 0.2ms;
  border-bottom: solid 2px #6495ed;
  width: fit-content;
}

.active {  
    border-bottom: solid 2px #6495ed;
    width: fit-content;
}

.fix-top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1030;
    background-color: white;
}

.dropdown-menu {
    min-width: fit-content;
}

.main {
    margin: 0;
    padding: 0;
    width: 100%;
    
}
 
 .title-background-img {
    background-image: url(../imges/snowy2.jpg);
    background-repeat: no-repeat;
   background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .title-text {
    text-align: center;
    padding: 20px;
   /* border: solid 1px  #6e7e8f;
    border-radius: 5px;*/
    
}

.title-text h1 {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.title-text-h5 {
    padding: 0px 30px;
    text-align: center;
}

 .link-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
 
.link-buttons a {
    display: block;
    width: 200px;
    height: 40px;
    padding: 5px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.45s;
  }

  .link-buttons a span {
    position: relative;
    z-index: 2;
    font-size: 18px;
    text-align: center;
  }

  .link-buttons a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2877ff;
    transition: all .50s;
  }

  .link-buttons a:hover {
    color:#fff;
  }
  

  .link-buttons a:hover:after {
    width: 100%;
}
  
.about-company {
    margin: 20px 0px 0px 0px;
}
.about-title-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-title-h1 {
    padding: 10px;
    font-weight: 400;
    border-bottom: 2px solid black;
}

.about-title-h2 {
    font-size: 20px;
    text-align: left;
    padding: 10px 16px;
}

small {
    font-size: 15px;
}

.pervagi ul,
.yak-mu-pratsyem ul {
    list-style: none;
}

/*Nashi klientu*/
.sc-title {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 300;
    position: relative;
    margin-bottom: 50px;
    line-height: 120%;
    padding-bottom: 14px;
}

    .sc-title::after {
    background-color: #999;
    width: 40px;
    content: '';
    display: inline-block;
    right: auto;
    left: 0px;
    height: 2px;
    position: absolute;
    bottom: 0;
}

    .sc-title.text-center:after {
    margin: 0 auto;
    right: 0;
}

div .clients-item {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}

div .silpo,
.fozzy-group,
.yahotinske,
.yatran,
.ufc,
.brusilovskie-kolbasy,
.ferma,
.terra-food,
.millk-life,
.ytk,
.blizz-print,
.pologi-mezz,
.sarny-holod,
.solex-agro,
.prod-holod,
.boss_berries,
.vega-land {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

/*Footer*/

.footer {
    background-color: #b7cef7;
    padding: 10px;
    
}

.footer ul {
    list-style: none;
    margin: 0;
}

.kontaktu-block {
    margin-top: 50px;
}

.kontaktu ul {
    list-style: none;
}

 .kontaktu-title {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
    line-height: 120%;
    padding-bottom: 14px;
}

 .kontaktu-title::after {
    background-color: #999;
    width: 40px;
    content: '';
    display: inline-block;
    right: auto;
    left: 0px;
    height: 2px;
    position: absolute;
    bottom: 0;
}

.kontaktu-li {
    margin-bottom: 10px;
}

 .tel,
 .email {
  text-decoration: none;
  color: black;
  transition: margin 0.2s ease-in-out;
  }

  .tel:hover,
  .email:hover,
  .tel:focus,
  .email:focus { 
    color: black;
    text-shadow: 0 0 0px black;
    margin-left: 0.8em;
    outline: none;
    position: relative;
  }
  

  .tel::before,
  .email::before {
    position: absolute;
    left: -1.5em;
    content: ">";
    color: transparent;
  }

  /*936px*/
  @media (min-width: 936px) {
    .title-text {
        position: relative;
    }

    .link-buttons {
        display: none;
    }

  }

  @media (max-width: 936px) {


    .title-background-img {
        padding: 0px 10px 0px 10px;
        align-items: center;
    }

    .title-text {
        position: relative;
        top: 0;
        padding: 20px;
        border-radius: 5px;
        box-shadow: snow 0px 0px 20px 1px;
        border: 0;
    }

    .link-buttons {
        justify-content: space-between;
    }

    .title-main-text{
        font-size: 28px;
    }

    .link-buttons a {
        width: 150px;
    }

    .link-buttons a span {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.5px
    }

    .about-title-h1 {
        font-weight: 400;
        font-size: 28px;
    }

    .about-title-h2 {
        font-size: 16px;
        text-align: justify;
        font-weight: 400;
    }
    .text-title-h3{
        font-size: 24px;
    }

    .title-list{
        font-size: 16px;
        line-height: 1.5;
    }

    .footer {
        padding: 20px;
    } 

    .kontaktu-li {
        margin-bottom: 10px;
    }
  }

 
/*812px*/

  @media (max-width: 812px) {

    .title-background-img {
        padding: 0px 10px 0px 10px;
    }

    div .title-text {
        box-shadow: snow 0px 0px 20px 1px;
        border: 0;
    }

    .link-buttons {
        justify-content: space-between;
    }

    .title-main-text{
        font-size: 28px;
    }

    .link-buttons a {
        width: 150px;
    }

    .link-buttons a span {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.5px
    }

    .about-title-h1 {
        font-weight: 400;
        font-size: 28px;
    }

    .about-title-h2 {
        font-size: 16px;
        text-align: justify;
        font-weight: 400;
    }

    .text-title-h3{
        font-size: 24px;
    }

    .title-list{
        font-size: 16px;
        line-height: 1.5;
    }

    .footer {
        padding: 20px;
    } 

    .kontaktu-li {
        margin-bottom: 10px;
    }
  }

/*576px*/

  @media (max-width: 576px) {
    .title-background-img {
        padding: 0px 10px 0px 10px;
        
    }

    .title-text {
        /*width: 100%;*/
        position: relative;
        top: 0;
        box-shadow: snow 0px 0px 20px 1px;
        border: 0;
    }

    .link-buttons {
        justify-content: space-around;
    }
    .title-main-text{
        font-size: 28px;
    }

    .link-buttons a {
        width: 112px;
    }
    .link-buttons a span {
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.5px
    }

    .about-company {
        margin: 20px 0px 0px 0px;
    }

    .about-title-text {
        padding: 0px 10px 0px 10px;
    }

    .about-title-h1 {
        font-weight: 400;
        font-size: 24px;
    }

    .about-title-h2 {
        text-align: justify;
        font-size: 14px;
        font-weight: 500;
    }

    .text-title-h3 {
        font-size: 24px;
        text-align: center;
    }

    .title-list {
        padding: 0px 10px 0px 10px;
        font-size: 14px;
        font-weight: 500;
    }

    .yak-mu-pratsyem {
        margin: 30px 0px 0px 0px;
    }

    .sc-title {
        font-size: 24px;
    }

    .footer {
        padding: 20px;
    } 

    .kontaktu-title  {
        font-size: 28px;
        font-weight: 400;
    }

    .kontaktu-li {
        margin-bottom: 10px;
    }
  }

  @media (max-width: 400px) {

    .title-main-text {
        font-size: 24px;
    }

    .title-text h3 {
        font-size: 16px;
    }

    .title-text h4 {
        font-size: 16px;
    }

    .about-title-h1 {
        font-size: 22px;
    }

    .about-title-h2 {
        font-size: 14px;
        padding: 0;
    }

    small {
        font-size: 10px;
    }

  }

/*media 320px*/

@media (max-width: 320px) {
    
    .title-background-img {
        padding: 10px 10px 0px 10px;
        width: 100%;
    }

    .title-text {
        width: 100%;
        box-shadow: snow 0px 0px 20px 1px;
        border: 0;
    }

    .about-title-h2 {
        font-size: 12px;
    }

    .text-title-h3 {
        font-size: 22px;
    }

    .link-buttons {
        justify-content: space-between;
    }
    .title-main-text{
        font-size: 28px;
    }

    .clients-item{
        width: 120px;
        height: auto;
    }
    
    .link-buttons a {
        width: 112px;
    }
    .link-buttons a span {
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.5px
    }

    div .kontaktu-title {
        font-size: 28px;
        font-weight: 400;
    }
}